/* 切换按钮 */
#dark {
  cursor: pointer;
  position: fixed;
  z-index: 100;
  left: 50px;
  width: 70px;
  height: 600px;
  top: -350px;
  box-shadow: 0 0 /* 去除外边框的阴影 */;
}
#dark > i {
  display: none /* 隐藏一个小箭头图标，否则会在图片上出现箭头 */;
}
/*暗黑模式*/
.dark {
  background-color: #1f1f1f;
/* 主体 */
/* 顶栏 */
/* page-number */
/* 打字机 */
/* back to top */
/* Toc */
/* footer */
/* 表格 */
/* 归档页 */
/* 友链页 */
/* note标签 可能这配色有点丑 */
/* aPlayer */
/* valine */
}
.dark #board {
  background-color: #1c1c21;
  color: #a09c9c;
}
.dark img {
  filter: brightness(50%);
}
.dark p,
.dark .index-info a {
  color: #a09c9c;
}
.dark .index-info a:hover {
  color: #3aa7f9;
}
.dark .markdown-body h1,
.dark .markdown-body h2,
.dark .markdown-body h3,
.dark .markdown-body h4,
.dark .markdown-body h5,
.dark .markdown-body h6,
.dark .markdown-body s,
.dark .markdown-body li {
  color: #bfbfbf !important;
}
.dark .markdown-body a {
  color: #99bde6;
}
.dark .navbar-col-show,
.dark .top-nav-collapse {
  background-color: #282c34;
}
.dark .navbar a {
  color: #bfbfbf !important;
}
.dark .animated-icon span {
  background-color: #bfbfbf;
}
.dark .pagination a:hover,
.dark .pagination .current {
  background-color: rgba(107,107,107,0.451);
  color: #bfbfbf;
}
.dark #subtitle,
.dark .dark.typed-cursor--blink,
.dark .scroll-down-arrow {
  color: #dfdfdf;
}
.dark #scroll-top-button {
  background-color: #282c34;
}
.dark #scroll-top-button i {
  color: #a09c9c;
}
.dark .tocbot-list a {
  color: #a09c9c;
}
.dark .tocbot-active-link,
.dark footer a:hover {
  color: #3aa7f9 !important;
}
.dark footer,
.dark footer a {
  color: #a09c9c;
}
.dark .markdown-body table td,
.dark .markdown-body table th {
  padding: 6px 13px;
  border-width: 1px;
  border-style: solid;
  border-color: #363636;
  border-image: initial;
}
.dark .list-group-item {
  color: #bfbfbf;
  background-color: #282c34;
}
.dark .list-group-item:hover,
.dark .tagcloud a:hover {
  background-color: #46484d;
}
.dark .links .card {
  background-color: #1c1c21;
}
.dark .links .card-body:hover {
  background-color: #46484d;
}
.dark .links .link-title,
.dark .links .link-intro {
  color: #bfbfbf;
}
.dark .note-info {
  background-color: #3b5359;
  border-color: #006d80;
}
.dark .note-danger {
  background-color: #783f42;
  border-color: #670009;
}
.dark .note-success {
  background-color: #2a3e2e;
  border-color: #005915;
}
.dark .note-warning {
  background-color: #5b543e;
  border-color: #846500;
}
.dark .note-primary {
  background-color: #45596e;
  border-color: #1c436e;
}
.dark .aplayer {
  background: #1c1c21 !important;
}
.dark .aplayer-lrc:after {
  background: linear-gradient(rgba(28,28,33,0) 0px, rgba(28,28,33,0.8)) !important;
}
.dark .aplayer-lrc:before {
  background: linear-gradient(#1c1c21 0px, rgba(28,28,33,0)) !important;
}
.dark .aplayer.aplayer-withlist .aplayer-info {
  border-bottom: 1px solid #303030 !important;
}
.dark .v .vwrap {
  margin-bottom: 10px;
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: #292929;
  border-image: initial;
  border-radius: 4px;
  overflow: hidden;
  padding: 10px;
}
.dark a:active {
  color: #3aa7f9;
}
.dark .drop-cap .index-card a .post-meta p {
  color: #a09c9c;
}
#dark:active {
  top: -300px;
}
